@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* * {
    border: 1px solid red;
} */

body {
    background-color: rgb(235, 235, 235);
}

/* ------------------ navigation bar ------------------ */

.navbar {
    background-color: rgb(255, 255, 255);
    opacity: 80%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.navbar ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar li {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 20px 40px 20px;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar li:hover {
    background-color: rgb(187, 188, 188);
    transition: all 0.1s ease;
    transition-delay: 0s;
}

.navbar img {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
}

/* Main content starts here */

.container-section-1 {
    background-image: linear-gradient(to bottom, #000000, #292929);
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 8em 10em 0em 10em;
}

.container-left {
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    margin: 0 auto;
    color: white;
    padding: 20px 30px 10px 50px;
}

.container-right {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
}

.container-section-1 img {
    max-width: 50%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}

/* Work Experience starts here */

.container-section-2 {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: stretch;
    margin: 0 10em;
    box-shadow: 2px 2px 4px rgba(126, 126, 126, 0.2);
}

.experience-container {
    display: flex;
    align-items: start;
    width: 100%;
}

.experience-left {
    font-family: 'Montserrat', sans-serif;
    color: rgb(40, 40, 40);
    width: 25%;
    margin: 20px 20px 0px 50px;
}

.experience-right {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: rgb(40, 40, 40);
    font-size: 14px;
    width: 75%;
    margin: 15px 20px 15px 50px;
}

.description {
    color: rgb(90, 90, 90);
} 

ul {
    color: darkgrey;
}

footer {
    margin: 100px auto;
}