@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* * {
    border: 1px solid red;
} */

body {
    background-color: var(--primary-color);
    margin: 0;
}

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(10, 10, 18);
}

.dark-theme {
    --primary-color: rgb(10, 10, 18);
    --secondary-color: rgb(255, 255, 255);
}

/* ------------------ navigation bar ------------------ */

.navbar {
    background-color: var(--primary-color);
    opacity: 80%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
}

.navbar ul {
    flex: 1;
    text-align: right;
    justify-content: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar li {
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color:var(--secondary-color);
    padding: 20px 35px 20px;
    display: block;
}

.navbar li:hover {
    background-color: rgb(187, 188, 188);
    transition: all 0.18s ease;
    transition-delay: 0.s;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 0 0 0 2vw;
}

#icon {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    display: block;
    margin: 0 1.5vw 0;
}

/* Main content starts here */

.container-section-1 {
    background-image: linear-gradient(to bottom, #000000 40%, #2b2b2b 100%);
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 10svw 12svw 0 12svw;
}

.container-left {
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    margin: 0 auto;
    color: white;
    padding: 20px 30px 10px 50px;
}

.container-right {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
}

.container-section-1 img {
    max-width: 50%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}

/* Work Experience starts here */

.container-section-2 {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: stretch;
    margin: 0 12vw 0 12vw;
    box-shadow: 2px 2px 4px rgba(126, 126, 126, 0.2);
}

.experience-container {
    display: flex;
    align-items: start;
    width: 100%;
}

.experience-left {
    font-family: 'Montserrat', sans-serif;
    color: rgb(40, 40, 40);
    width: 25%;
    margin: 20px 20px 0px 50px;
}

.experience-right {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: rgb(40, 40, 40);
    font-size: 14px;
    width: 75%;
    margin: 15px 20px 15px 50px;
}

.description {
    color: rgb(90, 90, 90);
} 

ul {
    color: darkgrey;
}

footer {
    margin: 100px auto;
}

/* ------------------ iPhone RWD ------------------*/

@media (max-width: 576px){

    /* change of nav start here */

    .navbar{
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .navbar ul{
        text-align: center;
        display: block;
    }

    .navbar a {
        text-decoration: none;
        color:var(--secondary-color);
        margin: 20px 0px;
        padding: 10px 15px 10px;
        display: block;
        font-size: 3vw;
    }

    .navbar li:hover {
        background-color: rgb(255, 255, 255);
        transition: all 0s ease;
        transition-delay: 0s;
    }

    #logo{
        display: none;
    }

    #icon{
        display: none;
    }

    .container-section-1 {
        background-image: linear-gradient(to bottom, #000000 40%, #000000 100%);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px auto 0px;
    }

    .container-left {
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        margin: 0 auto;
        color: white;
        padding: 0px auto;
        width: 50%;
    }

    .container-left img {
        position: relative;
        max-width: 80%;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .container-right {
        display: none;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        color: white;
        font-size: 1rem;
        padding: 0 auto;
        margin: 0 auto;
    }

    .container-section-2 {
        background-color: rgb(255, 255, 255);
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        box-shadow: 0px 0px 0px rgba(126, 126, 126, 0.2);
    }

    .experience-container {
        display: block;
        width: 100%;
        margin: 40px 0 40px 0;
    }
    
    .experience-left {
        font-family: 'Montserrat', sans-serif;
        width: 4%;
        color: rgb(40, 40, 40);
        margin: 12px 50px 0px 35px;
    }
    
    .experience-right {
        font-family: 'Montserrat', sans-serif;
        /* width: 80%; */
        line-height: 1.5;
        color: rgb(40, 40, 40);
        font-size: 14px;
        margin: 15px 0px 5px 35px;
    }

    h1 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.8rem;
    }

    li {
        font-size: 0.6rem;
    }

    .skill {
        font-size: 0.5rem;
    }

    .detail {
        font-size: 0.6rem
    }
}

/* ------------------ iPad RWD ------------------*/

@media (max-width: 768px){

    /* change of nav start here */

    .navbar{
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .navbar ul{
        text-align: center;
        display: block;
    }

    .navbar a {
        text-decoration: none;
        color:var(--secondary-color);
        margin: 20px 0px;
        padding: 10px 15px 10px;
        display: block;
        font-size: 3vw;
    }

    .navbar li:hover {
        background-color: rgb(255, 255, 255);
        transition: all 0s ease;
        transition-delay: 0s;
    }

    #logo{
        display: none;
    }

    #icon{
        display: none;
    }

    .container-section-1 {
        background-image: linear-gradient(to bottom, #000000 40%, #000000 100%);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 100px auto 0px;
    }

    .container-left {
        font-family: 'Montserrat', sans-serif;

        margin: 0 auto;
        color: white;
        padding: 0px auto;
        width: 50%;
    }

    .container-left img {
        position: relative;
        max-width: 80%;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .container-right {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        color: white;
        font-size: 1rem;
        padding: 0 auto;
        margin: 0 auto;
        order: 2;
    }

    .container-section-2 {
        background-color: rgb(255, 255, 255);
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        box-shadow: 0px 0px 0px rgba(126, 126, 126, 0.2);
    }

    .experience-container {
        display: block;
        width: 100%;
        margin: 40px 0 40px 0px;
        text-align: left;
    }
    
    .experience-left {
        font-family: 'Montserrat', sans-serif;
        width: 45%;
        color: rgb(40, 40, 40);
        margin: 12px 50px 0px 35px;
    }
    
    .experience-right {
        font-family: 'Montserrat', sans-serif;
        /* width: 80%; */
        line-height: 1.5;
        color: rgb(40, 40, 40);
        font-size: 14px;
        margin: 15px 0px 5px 35px;
    }

    h1 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.8rem;
    }

    li {
        font-size: 0.6rem;
    }

    .skill {
        font-size: 0.5rem;
    }

    .detail {
        font-size: 0.6rem
    }
}
