@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}

/* nav bar, as always */

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(10, 10, 18);
}

.dark-theme {
    --primary-color: rgb(10, 10, 18);
    --secondary-color: rgb(255, 255, 255);
}

/* ------------------ navigation bar ------------------ */

body {
    margin: 0;
    background-color: var(--primary-color);
}

.navbar {
    background-color: var(--primary-color);
    opacity: 80%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
}

.navbar ul {
    flex: 1;
    text-align: right;
    justify-content: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar li {
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color:var(--secondary-color);
    padding: 20px 35px 20px;
    display: block;
}

.navbar li:hover {
    background-color: rgb(187, 188, 188);
    transition: all 0.18s ease;
    transition-delay: 0.s;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 0 1.5vw 0;
}

#icon {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    display: block;
    margin: 0 1.5vw 0;
}


/* main gallery goes here */

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 160px;
    padding-bottom: 120px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.image {
    width: 20vw;
    height: 20vw;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.image:hover img {
    transform: scale(1.75);
    box-shadow: 15px 15px 6px rgba(0, 0, 0, 0.2);
}

/* ------------------ RWD Testing ------------------*/

@media (max-width: 576px){

    /* change of nav start here */

    .navbar{
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .navbar ul{
        text-align: center;
        display: block;
    }

    .navbar a {
        text-decoration: none;
        color:var(--secondary-color);
        margin: 20px 0px;
        padding: 10px 15px 10px;
        display: block;
        font-size: 3vw;
    }

    .navbar li:hover {
        background-color: rgb(255, 255, 255);
        transition: all 0s ease;
        transition-delay: 0s;
    }

    #logo{
        display: none;
    }

    #icon{
        display: none;
    }

    /* Main content starts here */

    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1px;
        justify-items: center;
        align-items: center;
    }
    
    .image {
        width: 30vw;
        height: 30vw;
        background-color: rgb(244, 244, 244);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        transition: transform 0s;
    }
    
    .image:hover img {
        transform: scale(1);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    }

}