@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* for view layout */

/* * {
    border: 1px solid red;
} */

/* ------------------ dark mode test ------------------ */

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(10, 10, 18);
}

.dark-theme {
    --primary-color: rgb(10, 10, 18);
    --secondary-color: rgb(255, 255, 255);
}

/* ------------------ navigation bar ------------------ */

body {
    margin: 0;
    background-color: var(--primary-color);
}

.navbar {
    background-color: var(--primary-color);
    opacity: 80%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
}

.navbar ul {
    flex: 1;
    text-align: right;
    justify-content: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar li {
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color:var(--secondary-color);
    padding: 20px 35px 20px;
    display: block;
}

.navbar li:hover {
    background-color: rgb(187, 188, 188);
    transition: all 0.18s ease;
    transition-delay: 0.s;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 0 1.5vw 0;
}

#icon {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    display: block;
    margin: 0 1.5vw 0;
}

/* ------------------ Content on landing page ------------------*/

.col {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    margin: 5vh 5vw 0;
}

/* ------------------ Content on landing page left side ------------------*/

.col-1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    justify-content: center;
    margin: 0 auto;
}

#intro {
    font-size: 3.5vw;
    line-height: 3.5vw;
    color: var(--secondary-color);
}

#sub-intro {
    font-size: 1.75vw;
    color: var(--secondary-color);
}

/* ------------------Content on landing page right side ------------------*/

.col-2 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.col-2 img {
    display: block;
    width: 30vw;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35vw;
    height: 35vw;
    border: 10px dashed var(--secondary-color);
    border-radius: 50%;
    animation: rotate 100s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* ------------------ button ------------------*/

/* ------------------ button Contact Me ------------------*/

.button {
    margin: 40px auto;
}

.button a{
    text-decoration: none;
    color: var(--primary-color);
}

.button-contact-me {
    background-color: var(--secondary-color);
    padding: 10px 30px;
    border: none;
    text-align: center;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.button-contact-me:hover {
    background-color: rgb(220, 220, 220);
    color: var(--secondary-color);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

/* ------------------ button View More ------------------*/

.button-view-more {
    background-color: var(--primary-color);
    padding: 10px 30px;
    border: none;
    text-align: center;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 5px 0px 0px;
    cursor: pointer;
}

.button-view-more::after {
    display:block;
    content: '';
    padding: 2px auto;
    border-bottom: solid 2.5px var(--secondary-color);
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}

.button-view-more:after{
    transform-origin: 100% 50%;
}

.button-view-more:hover:after {
    transform: scaleX(1);
    transform-origin:  0% 50%;
}

.button-view-more a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* ------------------ RWD Testing ------------------*/

@media (max-width: 576px){

    /* change of nav start here */

    .navbar{
        display: none;
    }

    /* change of main content start here */

    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        flex-direction: column-reverse;
    }

    .col-1{
        order: -1;
        margin: 100px 0px 0px;
        text-align: left;
        justify-content: center;
    }

    #intro{
        font-size: 1.95rem;
        line-height: 1.95rem;
        font-weight: 700;
        margin: 0 auto;
    }

    #sub-intro{
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .col-2{
        transform: scale(1.5);
    }

    .circle {
        border: 4px dashed var(--secondary-color);
    }

    /* change of buttons start here */

    .button {
        margin: 25px auto;
    }

    .button a{
        text-decoration: none;
    }
    
    .button-contact-me {
        background-color: var(--secondary-color);
        padding: 10px 30px;
        border: none;
        text-align: center;
        font-size: 0.5rem;
        margin: 0px 5px 0px 0px;
    }

    .button-contact-me:hover {
        background-color: rgb(220, 220, 220);
        color: var(--secondary-color);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    }
    
    .button-view-more{
        font-size: 0.5rem;
    }

    .button-view-more::after {
        display:block;
        content: '';
        padding: 2px auto;
        border-bottom: solid 2.5px var(--secondary-color);
        transform: scaleX(0);
        transition: transform 150ms ease-in-out;
    }
    
    .button-view-more:after{
        transform-origin: 0% 0%;
    }
    
    .button-view-more:hover:after {
        transform: scaleX(0);
        transform-origin:  0% 00%;
    }

}